/* Pagina de HOME */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
.section-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; /* definí una altura fija */
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
.logo {
  font-weight:800;
  background: linear-gradient(90deg, #fc4575, #ff7f4c, #ffcb4d, #41b777, #4da1f7, #895ef6); 
  -webkit-background-clip: text;
  color: transparent;
  font-size: 45px;
}
nav a {
  margin-left: 50px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  padding: 8px 15px;
  border-radius: 20px;
}
nav a:hover {
  background: linear-gradient(70deg, #fc4575, #ff7f4c, #ffcb4d, #41b777, #4da1f7, #895ef6);
  color: rgb(255, 255, 255);
}

/* PORTDADA */
.inicio {
  background-color: #151515;
  height: 650px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.contenido {
  margin-left: 142px;
  margin-top: 105px;
  color: white;
  z-index: 2;
}
.hola {
  font-size: 50px;
  font-weight: 400;
}
.linea1 {
  width: 103px;
  height: 3px;
  background-color: white;
  margin-top: 12px;
  margin-bottom: 25px;
}
h1 {
  font-size: 53px;
  font-weight: 900;
  color: white 
}
h1 span{
  background: linear-gradient(90deg, #ff3868, #ff7b4d, #ffcf4d, #49b868, #3ba4ff, #7464ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.descripcion {
  font-size: 27px;
  line-height: 30px;
  margin-top: 15px;
  font-weight: 400;
}
button {
  width: 258px;
  height: 53px;
  background-color: #000;
  color: white;
  border: 3px solid white;
  font-size: 25px;
  font-weight: 800;
  margin-top: 24px;
  cursor: pointer;
}
.datos {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 115px;
}
.datos h3 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 12px;
}
.datos p {
  font-size: 19px;
  font-weight: 600;
}
.linea2 {
  height: 60px;
  width: 1px;
  background-color: white;
}
.imagen {
  position: absolute;
  right: 145px;
  bottom: 0;
}
.imagen img {
  height: 545px;
  display: block;
  filter: grayscale(100%);
}

/* QUIEN SOY */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}
.perfil {
  padding: 60px;
}
.perfil-contenedor {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}
.perfil-img img {
  width: 350px;
  border: 3px solid white;
}
.perfil-text {
  max-width: 500px;
}
.perfil-text h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}
.perfil-text h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.color {
  background: linear-gradient(90deg, #fc4575, #ff7f4c, #ffcb4d, #41b777, #4da1f7, #895ef6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.perfil-text p {
  color: white;
  line-height: 1.6;
}
.info {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-top: 1px solid #3a3a3a;
  padding-top: 20px;
}

/* HABILIDADES */
body {
  background-color: #000;
  font-family: 'Arial', sans-serif;
  color: white;
}
.habilidades {
  padding: 50px;
}
.habilidades-contenedor{
  max-width: 1200px; /* o el ancho que quieras */
  margin: 0 auto;    /* esto lo centra horizontalmente */
  padding: 0 20px;   /* opcional, para que no quede pegado a los bordes */
}
.habilidades h2 {
  color: white;
  font-size: 32px;
  margin-bottom: 30px;
}
.icono {
  width: 40px;
  margin-bottom: 15px;
}
/* Grilla */
.grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
/* Rectangulo */
.rectangulo {
  background-color: #555;
  padding: 25px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.rectangulo:hover {
  transform: translateY(-5px);
}
.rectangulo h3 {
  margin-bottom: 10px;
  font-size: 16px;
}
.rectangulo p {
  font-size: 14px;
  color: white;
}

/* PROYECTOS*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}
.proyectos {
  text-align: center;
  max-width: 1200px; /* o el ancho que quieras */
  margin: 0 auto;    /* esto lo centra horizontalmente */
  padding: 0 20px;   /* opcional, para que no quede pegado a los bordes */
}
.proyectos h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}
.grilla2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.item {
  overflow: hidden;
  border-radius: 8px;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}
.imgtex{
  position: relative;
  display: inline-block;
}
.imgtex img {
  width: 300px;
  display: block;
}
.imgtex span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  opacity: 0;
  background-color: #3a3a3a;
  color: white;
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
}
.imgtex:hover span {
  opacity: 1;
}


/* CTA */
.cta {
  text-align: center;
  padding: 50px 20px;
  background: #f2f2f2;
  font-weight:600;
  color: #000;
}
.subtitle {
  font-weight:800;
}
.degrade {
  font-weight:800;
  font-size: 50px;
  margin: 0px 0;
  background: linear-gradient(90deg, #fc4575, #ff7f4c, #ffcb4d, #41b777, #4da1f7, #895ef6);
  -webkit-background-clip: text;
  color: transparent;
}
.btn {
  background-color: #000;
  font-weight:600;
  padding: 15px 60px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.3s;
}
.btn:hover {
  background-color:#737373;
  color: rgb(255, 255, 255);
}
.contacto-info {
  display: flex;
  justify-content: center; /* centra todo */
  gap: 25px; /* 👈 separa los elementos */
  flex-wrap: wrap; /* para que en celular bajen prolijos */
  text-align: center;
}
.footer {
  margin-top: 30px;
  font-size: 12px;
}

@media (max-width: 576px) {
  /* NAV */
  .section-nav {
    min-height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 28px 0;
    gap: 8px;
  } 
  .logo {
    font-size: 36px;
    text-align: center;
  }
  .section-nav ul {
    gap: 16px;
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav a {
    margin: 0;
    margin-left: 20px;
    font-weight: 600;
    font-size: 12px;
    padding: 2 12px;
    border-radius: 20px;
  }

  /* PORTADA */
  .inicio {
    height: auto;
    padding: 100px 25px 0;
    flex-direction: column;
    overflow: hidden;
  }
  .contenido {
    margin: 0;
    text-align: center;
  }
  .hola {
    padding-top: 70px;
    font-size: 30px;
  }
  .linea1 {
    width: 0px;
    margin: 8px 0 22px;
  }
  h1 {
    font-size: 30px;
    line-height: 1.05;
  }
  .descripcion {
    font-size: 17px;
    line-height: 20px;
    margin-top: 14px;
  }
  button {
    width: 210px;
    height: 48px;
    font-size: 20px;
    margin-top: 24px;
  }
  .datos {
    margin-top: 30px;
    display: grid;
    gap: 18px;
    padding-bottom: 25px;
  }
  .linea2 {
    display: none;
  }
  .datos h3 {
    font-size: 16px;
    margin-bottom: 6px;
  }
  .datos p {
    font-size: 14px;
  }
  .imagen {
    display: none;
  }
  
  /* QUIEN SOY */ 
  .perfil {
    padding: 60px;
    padding-bottom: 0;
  }
  .perfil-img img {
    width: 180px;
  }
  .perfil-text {
    font-size: 13px;
  }
  .perfil-text h4 {
    font-size: 15px;
  }
  .perfil-text h1 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .info {
    display: none;
  }

  /* HABILIDADES */
  .habilidades h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .grilla {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  /* PROYECTOS*/
  .proyectos h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }
  .grilla2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  
  /* CTA */
  .cta {
    padding: 45px 18px;
  }
  .subtitulo {
    font-size: 13px;
  }
  .degrade {
    font-size: 38px;
    line-height: 1.1;
  }
  .btn {
    width: 80%;
    font-size: 18px;
  }
  .contacto-info {
    margin: 3px;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    font-size: 15px;
    padding-bottom: 5px;
  }
  .footer {
    margin-top: 35px;
    font-size: 15px;
  }
}